#root {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
}

.theme {
  color: black;
  background: white;
}

.MainLayout-component {
  box-sizing: border-box;
  padding: 20px;
}

/* NAVBAR START */
.Navbar {
  display: flex;
  justify-content: center;
}

.Logo {
  width: fit-content;
}
/* NAVBAR END */

/* START SCREEN START */
  .startScreen {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fe7000;
  }

  .startScreen_textContainer {
    text-align: center;
    margin: 0 20px;
  }

  .primaryCta {
    background: #6131AD;
    border-radius: 0;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 128px;
    max-width: 343px;
    height: 48px;
  }


  .modalContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 100%;
   
    left: 0;
    background: white;
    transition: 0.3s top ease;
  }

  .active {
    top: 0;
  }

/* START SCREEN END */

/* WORKOUT LIST VIEW START */
.WorkoutListView {
  height: 100vh;
  position: relative;
}
/* WORKOUT LIST VIEW END */

/* FORM START */
.formContainer {
  margin: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}
.formSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.formLabel {
  color: black;
  margin-bottom: 5px;
}
.formInput {
  height: 46px;
  background: none;
  border: 1px solid grey;
  color: black;
  padding: 0 10px;
}
/* FORM END */

/* WorkoutListView start */
.WorkoutListView {
  padding: 20px;
}
/* WorkoutListView end */

/* TYPOGRAPHY START */
.text_centered {
  text-align: center;
}
h1 {
  margin-top: 0;
}
/* TYPOGRAPHY END */

/* FILTERS START */
.filters_content_container {
  height: 100%;
  overflow: scroll;
  padding: 20px;
}
.filters_button_container {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  background: white;
  width: calc(100% - 40px);
  left: 20px
}
.filters_button_container .primaryCta {
  width: 100%;
}

.filter_item {
  background: lightgray;
  font-weight: bold;
}
.filter_active {
  background: orange;
  color: white;
}

.ActiveFilter {
  display: flex; 
  margin-right: 10px;
  background: orange;
  font-weight: bold;
  color: white;
  width: fit-content;
  padding: 5px 10px;
}
/* FILTERS END */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
